<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanli.oepcms.mapper.ClasMapper">
	<!-- 根据用户名查询用户信息 -->
	<select id="count" resultType="int">
		SELECT clas_id,count(clas_id) AS s
		FROM xl_clas
		GROUP BY clas_id
	</select>
	<!-- 保存班级信息 -->
	<insert id="insert" 
	 parameterType="com.xuanli.oepcms.entity.Clas">
	insert into xl_clas (id, stu_name, school_id, 
      clas_id, homework, simulation, 
      Unified, proposition, paper, 
      create_id, create_date, update_id, 
      update_date, enable_flag)
    values (#{id}, #{stuName}, #{schoolId}, #{clasId}, #{homework}, #{simulation}, #{unified}, #{proposition}, #{paper}, 
      #{createId}, #{createDate}, #{updateId}, #{updateDate}, #{enableFlag})
	</insert>
</mapper>
