<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanli.oepcms.mapper.ExerciseDetailWordEntityMapper">
  <resultMap id="BaseResultMap" type="com.xuanli.oepcms.entity.ExerciseDetailWordEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="student_id" jdbcType="BIGINT" property="studentId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="sentence_id" jdbcType="BIGINT" property="sentenceId" />
    <result column="detail_id" jdbcType="BIGINT" property="detailId" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="word" jdbcType="VARCHAR" property="word" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="enable_flag" jdbcType="VARCHAR" property="enableFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, student_id, article_id, sentence_id, detail_id, score, word, create_id, 
    create_date, update_id, update_date, enable_flag
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xl_exercise_detail_word
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteExerciseDetailWordEntity" parameterType="java.lang.Long">
    delete from xl_exercise_detail_word
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertExerciseDetailWordEntity" parameterType="com.xuanli.oepcms.entity.ExerciseDetailWordEntity">
    insert into xl_exercise_detail_word
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="sentenceId != null">
        sentence_id,
      </if>
      <if test="detailId != null">
        detail_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="word != null">
        word,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="enableFlag != null">
        enable_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="sentenceId != null">
        #{sentenceId,jdbcType=BIGINT},
      </if>
      <if test="detailId != null">
        #{detailId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="word != null">
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enableFlag != null">
        #{enableFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateExerciseDetailWordEntity" parameterType="com.xuanli.oepcms.entity.ExerciseDetailWordEntity">
    update xl_exercise_detail_word
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="sentenceId != null">
        sentence_id = #{sentenceId,jdbcType=BIGINT},
      </if>
      <if test="detailId != null">
        detail_id = #{detailId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="word != null">
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enableFlag != null">
        enable_flag = #{enableFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteDetailWordEntity" parameterType="com.xuanli.oepcms.entity.ExerciseDetailWordEntity">
	DELETE
	FROM
		xl_exercise_detail_word
	WHERE
        article_id = #{articleId,jdbcType=BIGINT}
        and sentence_id = #{sentenceId,jdbcType=BIGINT}
        and student_id = #{studentId,jdbcType=BIGINT}
  </delete>
  <select id="getExerciseDetailWord" parameterType="com.xuanli.oepcms.entity.ExerciseDetailWordEntity" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xl_exercise_detail_word
    where 1=1
    <if test="articleId != null">
        and article_id = #{articleId,jdbcType=BIGINT}
      </if>
      <if test="sentenceId != null">
         and sentence_id = #{sentenceId,jdbcType=BIGINT}
      </if>
      <if test="studentId != null">
        and student_id = #{studentId,jdbcType=BIGINT}
      </if>
      order by id
  </select>
  <insert id="insertExerciseDetailWordEntityBatch" parameterType="java.util.List" >
  	INSERT INTO xl_exercise_detail_word
  	(article_id, sentence_id, student_id, detail_id, word, score)
  	VALUES
  	<foreach collection="list" item="edw" index="index" separator=",">
  		(#{edw.articleId}, #{edw.sentenceId}, #{edw.studentId}, #{edw.detailId}, #{edw.word}, #{edw.score})
  	</foreach>
  </insert>
</mapper>