<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuanli.oepcms.mapper.HomeworkStudentEntityMapper" >
  <resultMap id="BaseResultMap" type="com.xuanli.oepcms.entity.HomeworkStudentEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="homework_id" jdbcType="BIGINT" property="homeworkId" />
    <result column="student_id" jdbcType="BIGINT" property="studentId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="work_complate" jdbcType="VARCHAR" property="workComplate" />
    <result column="work_time" jdbcType="VARCHAR" property="workTime" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, homework_id, student_id, remark, work_complate, work_time, score, create_id, 
    create_date, update_id, update_date
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from xl_homework_student
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteHomeworkStudentEntity" parameterType="java.lang.Long" >
    delete from xl_homework_student
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertHomeworkStudentEntity" parameterType="com.xuanli.oepcms.entity.HomeworkStudentEntity" >
    insert into xl_homework_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="homeworkId != null">
        homework_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="workComplate != null">
        work_complate,
      </if>
      <if test="workTime != null">
        work_time,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="homeworkId != null">
        #{homeworkId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="workComplate != null">
        #{workComplate,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateHomeworkStudentEntity" parameterType="com.xuanli.oepcms.entity.HomeworkStudentEntity" >
    update xl_homework_student
    <set>
      <if test="homeworkId != null">
        homework_id = #{homeworkId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="workComplate != null">
        work_complate = #{workComplate,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        work_time = #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


	<insert id="insertHomeworkStudentEntityBatch" parameterType="java.util.List">
		insert into xl_homework_student(homework_id,student_id,work_complate,create_id,create_date)values
        <foreach collection ="list" item="hd" index= "index" separator =",">
            (#{hd.homeworkId}, #{hd.studentId},#{hd.workComplate},#{hd.createId},#{hd.createDate})
        </foreach >
	</insert>
	
  <update id="updateHomeworkStudentEntityBatch" parameterType="com.xuanli.oepcms.entity.HomeworkStudentEntity">
 	   update xl_homework_student set work_complate = 'T',  score = #{score} where student_id = #{studentId} and homework_id= #{homeworkId}
  </update>
  
  <select id="selectHomeworkStudentEntity" resultMap="BaseResultMap" parameterType="com.xuanli.oepcms.entity.HomeworkStudentEntity" >
    select 
    <include refid="Base_Column_List" />
    from xl_homework_student
    where 1=1 
    <if test="homeworkId != null">
        and homework_id = #{homeworkId,jdbcType=BIGINT}
    </if>
    <if test="workComplate != null">
        and work_complate = #{workComplate,jdbcType=VARCHAR}
    </if>
    order by score desc
  </select>
  
  <update id="updateHomewordStudentEntityRemark" parameterType="java.util.List">
        UPDATE xl_homework_student set remark = #{remark}
        WHERE homework_id=#{homeworkId} AND student_id in
        <foreach collection ="userIds" item="item" index= "index" open="(" separator="," close=")">
          #{item}
        </foreach >
  </update>
  
</mapper>