<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanli.oepcms.mapper.PaperSubjectEntityMapper">
  <resultMap id="BaseResultMap" type="com.xuanli.oepcms.entity.PaperSubjectEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="paper_id" jdbcType="BIGINT" property="paperId" />
    <result column="subject_num" jdbcType="VARCHAR" property="subjectNum" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="total_score" jdbcType="DOUBLE" property="totalScore" />
    <result column="question_score" jdbcType="DOUBLE" property="questionScore" />
    <result column="audio" jdbcType="VARCHAR" property="audio" />
    <result column="total_time" jdbcType="INTEGER" property="totalTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="enable_flag" jdbcType="VARCHAR" property="enableFlag" />
    <result column="cms_id" jdbcType="BIGINT" property="cmsId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, paper_id, subject_num, subject, total_score, question_score, audio, total_time, 
    type, create_id, create_date, update_id, update_date, enable_flag, cms_id
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xl_paper_subject
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByCmsId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xl_paper_subject
    where cms_id = #{cmsId,jdbcType=BIGINT}
  </select>
  <select id="getPaperSubjectEntity" parameterType="com.xuanli.oepcms.entity.PaperSubjectEntity" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xl_paper_subject
    where enable_flag = 'T'
     <if test="paperId != null">
         and paper_id = #{paperId,jdbcType=BIGINT}
      </if>
  </select>
  <delete id="deletePaperSubjectEntity" parameterType="java.lang.Long">
    delete from xl_paper_subject
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertPaperSubjectEntity" parameterType="com.xuanli.oepcms.entity.PaperSubjectEntity" keyProperty="id" useGeneratedKeys="true">
    insert into xl_paper_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="subjectNum != null">
        subject_num,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="totalScore != null">
        total_score,
      </if>
      <if test="questionScore != null">
        question_score,
      </if>
      <if test="audio != null">
        audio,
      </if>
      <if test="totalTime != null">
        total_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="enableFlag != null">
        enable_flag,
      </if>
      <if test="cmsId != null">
        cms_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=BIGINT},
      </if>
      <if test="subjectNum != null">
        #{subjectNum,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        #{totalScore,jdbcType=DOUBLE},
      </if>
      <if test="questionScore != null">
        #{questionScore,jdbcType=DOUBLE},
      </if>
      <if test="audio != null">
        #{audio,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null">
        #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enableFlag != null">
        #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="cmsId != null">
        #{cmsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updatePaperSubjectEntity" parameterType="com.xuanli.oepcms.entity.PaperSubjectEntity">
    <set>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=BIGINT},
      </if>
      <if test="subjectNum != null">
        subject_num = #{subjectNum,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        total_score = #{totalScore,jdbcType=DOUBLE},
      </if>
      <if test="questionScore != null">
        question_score = #{questionScore,jdbcType=DOUBLE},
      </if>
      <if test="audio != null">
        audio = #{audio,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null">
        total_time = #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enableFlag != null">
        enable_flag = #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="cmsId != null">
        cms_id = #{cmsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateSyncPaperSubjectEntity" parameterType="com.xuanli.oepcms.entity.PaperSubjectEntity">
    update xl_paper_subject
    <set>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=BIGINT},
      </if>
      <if test="subjectNum != null">
        subject_num = #{subjectNum,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        total_score = #{totalScore,jdbcType=DOUBLE},
      </if>
      <if test="questionScore != null">
        question_score = #{questionScore,jdbcType=DOUBLE},
      </if>
      <if test="audio != null">
        audio = #{audio,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null">
        total_time = #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enableFlag != null">
        enable_flag = #{enableFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where cms_id = #{cmsId,jdbcType=BIGINT}
  </update>

<update id="updatePaperSubjectUsedCount">
	update xl_paper_subject set user_count = user_count+1 where id = #{id,jdbcType=BIGINT}
</update>

</mapper>