<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanli.oepcms.mapper.ReadSentenceEntityMapper">
  <resultMap id="BaseResultMap" type="com.xuanli.oepcms.entity.ReadSentenceEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sentence_cont" jdbcType="VARCHAR" property="sentenceCont" />
    <result column="sentence_mean" jdbcType="VARCHAR" property="sentenceMean" />
    <result column="word_num" jdbcType="INTEGER" property="wordNum" />
    <result column="picture_path" jdbcType="VARCHAR" property="picturePath" />
    <result column="audio_path" jdbcType="VARCHAR" property="audioPath" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="enable_flag" jdbcType="VARCHAR" property="enableFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, article_id, name, sentence_cont, sentence_mean, word_num, picture_path, audio_path, 
    order_num, create_id, create_date, update_id, update_date, enable_flag
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xl_read_sentence
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteReadSentenceEntity" parameterType="java.lang.Long">
    delete from xl_read_sentence
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertReadSentenceEntity" parameterType="com.xuanli.oepcms.entity.ReadSentenceEntity">
    insert into xl_read_sentence
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sentenceCont != null">
        sentence_cont,
      </if>
      <if test="sentenceMean != null">
        sentence_mean,
      </if>
      <if test="wordNum != null">
        word_num,
      </if>
      <if test="picturePath != null">
        picture_path,
      </if>
      <if test="audioPath != null">
        audio_path,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="enableFlag != null">
        enable_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sentenceCont != null">
        #{sentenceCont,jdbcType=VARCHAR},
      </if>
      <if test="sentenceMean != null">
        #{sentenceMean,jdbcType=VARCHAR},
      </if>
      <if test="wordNum != null">
        #{wordNum,jdbcType=INTEGER},
      </if>
      <if test="picturePath != null">
        #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="audioPath != null">
        #{audioPath,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="enableFlag != null">
        #{enableFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateReadSentenceEntity" parameterType="com.xuanli.oepcms.entity.ReadSentenceEntity">
    update xl_read_sentence
    <set>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sentenceCont != null">
        sentence_cont = #{sentenceCont,jdbcType=VARCHAR},
      </if>
      <if test="sentenceMean != null">
        sentence_mean = #{sentenceMean,jdbcType=VARCHAR},
      </if>
      <if test="wordNum != null">
        word_num = #{wordNum,jdbcType=INTEGER},
      </if>
      <if test="picturePath != null">
        picture_path = #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="audioPath != null">
        audio_path = #{audioPath,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="enableFlag != null">
        enable_flag = #{enableFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getReadSentence" parameterType="java.util.Map" resultType="java.util.Map">
	  	SELECT
		xrs.id,
		xrs.article_id,
		xrs.audio_path,
		xrs.create_date,
		xrs.create_id,
		xrs.enable_flag,
		xrs.`name`,
		xrs.picture_path,
		xrs.sentence_cont,
		xrs.sentence_mean,
		xrs.word_num,
		xrs.update_id,
		xrs.update_date,
		xed.id,
		xed.student_id,
		xed.create_id,
		xed.enable_flag,
		xed.exercise_id,
		xed.fluency,
		xed.integrity,
		xed.pronunciation,
		xed.read_sentence_id,
		xed.score,
		xed.student_audio_path,
		xed.update_date
	FROM
		xl_read_sentence xrs
	LEFT JOIN xl_exercise_detail xed ON xed.read_sentence_id = xrs.id
        and student_id = #{studentId,jdbcType=BIGINT}
	WHERE xrs.article_id = #{articleId}
  </select>
  <select id="getReadSentenceScore" parameterType="java.util.Map" resultType="java.util.Map">
	  	select * from xl_exercise_detail_word 
	  	where student_id = #{studentId,jdbcType=BIGINT} AND article_id = #{articleId}
	  	order by id
  </select>
</mapper>