<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanli.oepcms.mapper.SectionEntityMapper">
  <resultMap id="BaseResultMap" type="com.xuanli.oepcms.entity.SectionEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="enable_flag" jdbcType="VARCHAR" property="enableFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, unit_id, create_id, create_date, update_id, update_date, enable_flag
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xl_section
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByCmsId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xl_section
    where cms_id = #{cmsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteSectionEntity" parameterType="java.lang.Long">
    delete from xl_section
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSectionEntity" parameterType="com.xuanli.oepcms.entity.SectionEntity" useGeneratedKeys="true" keyProperty="id">
    insert into xl_section
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="enableFlag != null">
        enable_flag,
      </if>
      <if test="cmsId != null">
        cms_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="enableFlag != null">
        #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="cmsId != null">
        #{cmsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateSectionEntity" parameterType="com.xuanli.oepcms.entity.SectionEntity">
    update xl_section
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="enableFlag != null">
        enable_flag = #{enableFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateSyncSectionEntity" parameterType="com.xuanli.oepcms.entity.SectionEntity">
    update xl_section
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="enableFlag != null">
        enable_flag = #{enableFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where cms_id = #{cmsId,jdbcType=BIGINT}
  </update>

	<select id="getSectionEntity" parameterType="com.xuanli.oepcms.entity.SectionEntity" resultMap="BaseResultMap">
	    select 
	    	<include refid="Base_Column_List" />
	    from 
	    	xl_section
	    where 
	    	enable_flag= 'T'
	    	<if test="unitId != null">
	        	and unit_id = #{unitId,jdbcType=VARCHAR}
	      	</if>
	</select>

</mapper>