<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanli.oepcms.mapper.UserMapper">
	<!-- 保存用户信息 -->
	<insert id="insertUser" 
	 parameterType="com.xuanli.oepcms.entity.User"
	 useGeneratedKeys="true" 
	 keyProperty="id">
		INSERT into xl_user
			(school_id,clas_id,mobile,captcha,password,create_date,update_date,create_id,update_id)
		VALUES
			(#{schoolId},#{clasId},#{mobile},#{captcha},#{password},now(),
			now(),#{createId},#{updateId})
	</insert>
	<!-- 修改更新用户信息 -->
	<update id="updateUser" 
	    parameterType="com.xuanli.oepcms.entity.User">
		UPDATE
			xl_user
		SET
			username = #{username},birth_date = #{birthDate},gender = #{gender},study_section = #{studySection},grade = #{grade},
			book_edition = #{bookEdition}
		where
			id = #{id}
	</update>
	<select id="findById" 
	        parameterType="java.lang.Integer"
	        resultType="com.xuanli.oepcms.entity.User">
		SELECT id,username,birth_date,gender,mobile,study_section,grade,book_edition
		FROM xl_user
		WHERE id = #{id}
	</select>
		<!-- 根据用户名查询用户信息 -->
	<select id="findByName" 
	    parameterType="java.lang.String" 
	    resultType="com.xuanli.oepcms.entity.User">
		SELECT
			id,username,password,mobile
		FROM xl_user
		WHERE username = #{username}
	</select>
</mapper>